<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <meta name="robots" content="INDEX,FOLLOW" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />

    <!-- Primary Meta Tags -->
    <title><%= seo.title %></title>
    <meta name="title" content="<%= seo.title %>" />
    <meta name="description" content="<%= seo.description %>" />
    <meta name="keywords" content="<%= seo.keywords %>" />
    <meta name="author" content="<%= siteSettings.site_name %>" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= seo.url || requestUrl %>" />
    <meta property="og:title" content="<%= seo.og_title %>" />
    <meta property="og:description" content="<%= seo.og_description %>" />
    <meta property="og:image" content="<%= seo.og_image %>" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="<%= seo.url || requestUrl %>" />
    <meta property="twitter:title" content="<%= seo.twitter_title %>" />
    <meta property="twitter:description" content="<%= seo.twitter_description %>" />
    <meta property="twitter:image" content="<%= seo.twitter_image %>" />

    <!-- Canonical URL -->
    <meta property="og:url" content="<%= seo.url || requestUrl %>" />
<link rel="canonical" href="<%= seo.url || requestUrl %>" />
<meta property="twitter:url" content="<%= seo.url || requestUrl %>" />


    <link rel="apple-touch-icon" sizes="57x57" href="<%= siteSettings.favicon_url %>" />
    <link rel="apple-touch-icon" sizes="60x60" href="<%= siteSettings.favicon_url %>" />
    <link rel="apple-touch-icon" sizes="72x72" href="<%= siteSettings.favicon_url %>" />
    <link rel="manifest" href="/images/favicons/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <link rel="icon" href="<%= siteSettings.favicon_url %>" type="image/x-icon" />
    <meta name="msapplication-TileImage" content="<%= siteSettings.favicon_url %>" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/fontawesome.min.css" />
    <link rel="stylesheet" href="/css/magnific-popup.min.css" />
    <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

  <body>
    <div
      class="slider-drag-cursor d-flex align-items-center justify-content-between"
    >
      <span class="drag-icon-left"
        ><img src="/images/icon/drag-arrow-left.svg" alt="" /></span
      >DRAG
      <span class="drag-icon-right"
        ><img src="/images/icon/drag-arrow-right.svg" alt=""
      /></span>
    </div>

    <div class="th-menu-wrapper onepage-nav">
      <div class="th-menu-area text-center">
        <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
        <div class="mobile-logo">
          <a href="index"><img width="80" src="<%= siteSettings.logo1_url %>" alt="logo-1" /></a>
        </div>
        <div class="th-mobile-menu">
             <ul>
                    <li>
                      <a class="active" href="/">Home</a>
                    </li>
                    <li>
                      <a href="/about">About Us</a>
                    </li>
                    <li>
                      <a href="/service-details">Our Services</a>
                    </li>
                    <li>
                      <a href="/clients">Clients</a>
                    </li>
                    <li>
                      <a href="/gallery">Gallery</a>
                    </li>
                    <li>
                      <a href="/contact-us">Contact Us</a>
                    </li>
                  </ul>
        </div>
      </div>
    </div>
    <header class="th-header header-layout1 header-layout4">
      <div class="header-top">
        <div class="container th-container">
          <div
            class="row justify-content-center justify-content-xl-between align-items-center"
          >
            <div class="col-auto d-none d-md-block">
              <div class="header-links">
                <ul>
                  <li class="d-none d-xl-inline-block">
                    <a href="mailto:<%= siteSettings.email %>">
                      <i class="fas fa-envelope"></i>
                      <%= siteSettings.email %>
                    </a>
                  </li>
                  <li class="d-none d-xl-inline-block">
                    <a href="tel:<%= siteSettings.phone %>">
                      <i class="fas fa-phone-alt"></i> <%= siteSettings.phone %>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-auto">
              <div class="header-right">
                <div class="header-links">
                  <ul>
                    <li class="d-none d-md-inline-block">
                      <a href="<%= siteSettings.facebook_url %>">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="d-none d-md-inline-block">
                      <a href="<%= siteSettings.instagram_url %>">
                        <i class="fab fa-instagram"></i>
                      </a>
                    </li>
                    <!-- <li class="d-none d-md-inline-block">
                      <a href="<%= siteSettings.phone %>">
                        <i class="fab fa-youtube"></i>
                      </a>
                    </li> -->
                    <li class="d-none d-md-inline-block">
                      <a href="<%= siteSettings.instagram_url %>">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                    </li>
                    <li class="d-none d-md-inline-block">
                      <a href="<%= siteSettings.whatsapp_url %>">
                        <i class="fab fa-whatsapp"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sticky-wrapper">
        <div class="menu-area">
          <div class="container th-container">
            <div class="row align-items-center justify-content-between">
              <div class="col-md-2 col-lg-2 col-xl-2 col-xxl-2 text-center">
                <div class="header-logo first-logo">
                  <a href="index">
                    <img src="<%= siteSettings.logo1_url %>" alt="logo-1" />
                  </a>
                </div>
              </div>
              <div class="col-md-7 col-lg-8 col-xl-7 col-xxl-6 text-center">
                <nav class="main-menu d-none d-xl-inline-block">
                  <ul>
                    <li>
                      <a class="active" href="/">Home</a>
                    </li>
                    <li>
                      <a href="/about">About Us</a>
                    </li>
                    <li>
                      <a href="/service-details">Our Services</a>
                    </li>
                    <li>
                      <a href="/clients">Clients</a>
                    </li>
                    <li>
                      <a href="/gallery">Gallery</a>
                    </li>
                    <li>
                      <a href="/contact-us">Contact Us</a>
                    </li>
                  </ul>
                </nav>
                <button type="button" class="th-menu-toggle d-block d-xl-none">
                  <i class="far fa-bars"></i>
                </button>
              </div>
              <div class="col-md-3 d-none d-xl-block text-center">
                <div class="header-button justify-content-end">
                  <a href="index">
                    <img
                      width="250"
                      height="74"
                      src="<%= siteSettings.logo2_url	 %>"
                      alt="Atek"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>